<div class="curtain">
  <div class="about-me">
    <md-toolbar color="#dadada">
      <span style="flex: 1 1 auto;">#aboutme</span>
      <i class="fa fa-arrow-right" (click)="closeProfile()"></i>
    </md-toolbar>
    <div class="profile-container">
      <div class="external-frame">
        <div class="frame">
          <div class="avatar-container">
            <img class="avatar" src="/assets/img/avatar-circle.png"/>
          </div>
        </div>
      </div>
      <div class="title">
        <span><strong>INŻ. JAROSŁAW KRÓL</strong></span>
      </div>
      <div class="position">
        <span>Full-stack developer</span>
      </div>
    </div>

    <div class="more-info">
      <div class="info-tag">
        <div class="key"><i class="fa fa-calendar"></i></div>
        <div class="value">21 stycznia 1992</div>
      </div>

      <div class="info-tag">
        <div class="key"><i class="fa fa-home"></i></div>
        <div class="value">ul. Zbulitowska 7</div>
      </div>

      <div class="info-tag">
        <div class="key"><i class="fa fa-home"></i></div>
        <div class="value">Radzyń Podlaski, 21-300</div>
      </div>

      <div class="info-tag">
        <div class="key"><i class="fa fa-phone"></i></div>
        <div class="value"><a href="tel:+48516768983">+48 516 768 983</a></div>
      </div>

      <div class="info-tag">
        <div class="key"><i class="fa fa-at"></i></div>
        <div class="value"><a href="mailto:jaroslawkrol11@gmail.com?subject=CV REPLY:&body=Treść wiadomości">jaroslawkrol11@gmail.com</a></div>
      </div>
    </div>

  </div>
</div>

