.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);;
  z-index: 1002;
}

.about-me {
  position: absolute;
  overflow-y: auto;
  font-family: Roboto;
  top: 0;
  right: 0;
  min-width: 80vw;
  height: 100vh;
  background-color: white;
  z-index: 1005;
  -webkit-box-shadow: -7px 7px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 7px 9px 0px rgba(0,0,0,0.75);
  box-shadow: -7px 7px 9px 0px rgba(0,0,0,0.75);
}

.profile-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.external-frame {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  border: 5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-container {
  width: 180px;
  height: 180px;
}

.avatar {
  max-width: 100%;
  max-height: 100%;
}

.profile-container > .title {
  margin-top: 10px;
}

.more-info {
  margin: 0 20px;
}

.info-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;

}

.info-tag > .key {
  background: #0d47a1;
  color: white;
  padding: 0.5rem;
  /*border: solid 1px #0d47a1;*/
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.info-tag > .key > i {
  padding: 0 3px;
}

.info-tag > .value {
  background: whitesmoke;
  color: #0d47a1;
  padding: 0.5rem;
  width: 100%;
  /*border: solid 1px #0d47a1;*/
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info-tag > .value > a {
  color: #0d47a1;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


