.footer-container {
  border-radius: 2px;
  box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
}

.footer-toolbar {
  justify-content: space-around;
  height: 100px;
}

.footer-icon {
  text-align: center;
  flex: 1 1 auto;
}

.footer-icon > i {
  padding: 5px 10px;
}

.footer-icon > i:hover {
  color: #8aacc8;
}
