<div class="header-container">
  <md-toolbar color="primary">
    <div *ngIf="isHomepage$ | async" class="icon-container icon-info">
      <i class="fa fa-info"></i>
    </div>
    <div *ngIf="!(isHomepage$ | async)" class="icon-container icon-home" (click)="goToDashboard()">
      <i class="fa fa-home"></i>
      <i class="fa fa-arrow-left"></i>
    </div>

    <div class="header-title">
      <span (click)="goToDashboard()">Jarosław Król</span>
    </div>

    <div class="icon-container icon-profile">
      <i class="fa fa-user-circle" (click)="openProfile()"></i>
    </div>

  </md-toolbar>
</div>
