<div perfect-scrollbar class="page skills">
  <app-subheader [title]="'Umiejętności'"></app-subheader>

  <div *ngIf="spinner$ | async" class="spinner-container">
    <md-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
    ></md-progress-spinner>
  </div>

  <div *ngIf="!(spinner$ | async)">
    <div  *ngFor="let group of groups$ | async">
      <div class="group-header">
        <span>{{group.name}}</span>
      </div>
      <md-list>
        <div *ngFor="let record of group.skills" [class.selected]="record === (selectedRecord$ | async)">
          <md-list-item (click)="select(record)" style="height: 100%;">
            <img md-list-avatar [src]="'/assets/img/' + record.logo" alt="...">
            <h3 md-line class="title" [class.text-wrapping]="record === (selectedRecord$ | async)">
              {{record.name}}
            </h3>
            <app-progress-bar md-line [level]="record.level" [color]="record.color"></app-progress-bar>
            <div md-line *ngIf="record === (selectedRecord$ | async)">
              <p class="more-info" [class.text-wrapping]="record === (selectedRecord$ | async)">
                {{record.description}}
              </p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </div>
      </md-list>
    </div>
  </div>

</div>
