<div class="skills">
  <app-subheader [title]="'Umiejętności'"></app-subheader>

  <div *ngFor="let group of groups$ | async">
    <div class="group-header">
      <span>{{group.name}}</span>
    </div>
    <md-list>
      <div *ngFor="let record of group.skills">
        <md-list-item (click)="select(record)" style="height: 100%;">
          <img md-list-avatar [src]="record.logo" alt="...">
          <h3 md-line class="title" [class.text-wrapping]="record === selectedRecord">
            {{record.name}}
          </h3>
          <app-progress-bar md-line [level]="record.level"></app-progress-bar>
          <div md-line *ngIf="record === selectedRecord">
            <p class="more-info" [class.text-wrapping]="record === selectedRecord">
              {{record.description}}
            </p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>
  </div>


</div>
