<div class="experience">
  <app-subheader [title]="'Doświadczenie'"></app-subheader>

  <md-list>
    <div *ngFor="let record of records$ | async">
      <md-list-item (click)="select(record)">
        <img md-list-avatar [src]="record.logo" alt="...">
        <h2 md-line>
          {{record.range}}
        </h2>
        <h3 md-line class="title" [class.text-wrapping]="record === selectedRecord">
          {{record.name}}
        </h3>
        <div md-line *ngIf="record === selectedRecord">
          <p class="more-info" [class.text-wrapping]="record === selectedRecord">
            {{record.description}}
          </p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </div>
  </md-list>

</div>
