.circle-icon {
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

span:hover .circle-icon {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.primary-color {
  color: #0d47a1;
}

.secondary-color {
  color: #ffffff;
}

.circle-size {
  font-size: 5em;
}

@media only screen  and (min-width : 1200px) and (max-width : 1823px) {
  .circle-size {
    font-size: 3.5em;
  }
}

