<div perfect-scrollbar class="page education">
  <app-subheader [title]="'Wykształcenie'"></app-subheader>

  <div *ngIf="spinner$ | async" class="spinner-container">
    <md-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
    ></md-progress-spinner>
  </div>

  <div class="animated-list" *ngIf="!(spinner$ | async)">
    <md-list>
      <div *ngFor="let record of records$ | async" [class.selected]="record === (selectedRecord$ | async)">
        <md-list-item (click)="select(record)" style="height: 100%;">
          <img md-list-avatar [src]="'/assets/img/' + record.logo" alt="...">
          <h2 md-line>
            {{record.range}}
          </h2>
          <h3 md-line class="title" [class.text-wrapping]="record === (selectedRecord$ | async)">
            {{record.name}}
          </h3>
          <div md-line *ngIf="record === (selectedRecord$ | async)">
            <p class="more-info" [class.text-wrapping]="record === (selectedRecord$ | async)">
              {{record.description}}
            </p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>
  </div>
</div>
