<div class="page education">
  <app-subheader [title]="'Wykształcenie'"></app-subheader>

  <div *ngIf="spinner$ | async" class="spinner-container">
    <md-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
    ></md-progress-spinner>
  </div>

  <div *ngIf="!(spinner$ | async)">
    <md-list>
      <div *ngFor="let record of records$ | async">
        <md-list-item (click)="select(record)" style="height: 100%;">
          <img md-list-avatar [src]="record.logo" alt="...">
          <h2 md-line>
            {{record.range}}
          </h2>
          <h3 md-line class="title" [class.text-wrapping]="record === (selectedRecord$ | async)">
            {{record.name}}
          </h3>
          <div md-line *ngIf="record === (selectedRecord$ | async)">
            <p class="more-info" [class.text-wrapping]="record === (selectedRecord$ | async)">
              Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam eaque ipsa,
            </p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>
  </div>

</div>
