<div class="eefil-container" style="font-family: Roboto; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; margin: 2rem 4rem;">
  <div class="title" style="color: #0d47a1">
    <h2>Lorem Ipsum</h2>
  </div>
  <div class="description" style="font-size: larger">
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <div class="signature" style="display: flex; flex-direction: row; justify-content: flex-end">
    <img class="signature-img" src="/assets/img/signature.png" style="width: 38%; height: 38%;">
  </div>
</div>

