<div class="eefil-container">
  <div class="title" style="color: #0d47a1">
    <h2>O mnie</h2>
  </div>
  <div class="description">
    <p>
      Jestem absolwentem <strong>Wojskowej Akademii Technicznej</strong> w Warszawie. Od <strong>ponad 3 lat</strong> zajmuję się
      programowaniem zawodowo. Mam doświadczenie w pracy w zespole.
    </p>
    <p>
      Obecnie jestem na etapie poszukiwania nowego miejsca pracy. W tym momencie, szczególnie interesuje mnie
      zatrudnienie na stanowisku <strong>Frontend Developera</strong>, z możliwością wykorzystania mojego doświadczenia
      z frameworkiem
      <strong>Angular2</strong>. Ponadto zależy mi na możliwości częściowej <strong>pracy zdalnej</strong>.
    </p>
    <!--<p>-->
      <!--Zapraszam do-->
    <!--</p>-->
  </div>
  <div class="signature">
    <img class="signature-img" src="/assets/img/signature.png">
  </div>
</div>

