<div class="personal">
  <app-subheader [title]="'Osobiste'"></app-subheader>

  <md-list>
    <div *ngFor="let record of records">
      <md-list-item (click)="select(record)">
        <img md-list-avatar [src]="record.logo" alt="...">
        <h2 md-line>
          {{record.range}}
        </h2>
        <h3 md-line class="title" [class.text-wrapping]="record === selectedRecord">
          {{record.name}}
        </h3>
        <div md-line *ngIf="record === selectedRecord">
          <p class="more-info" [class.text-wrapping]="record === selectedRecord">
            Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa,
          </p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </div>
  </md-list>

</div>
