<div class="dashboard">
  <app-subheader [title]="'CV'"></app-subheader>

  <div class="icons-container">
    <div class="icons-pair">
      <app-circle-icon [fontawesome]="'fa-graduation-cap'" (click)="toEducationPage()"></app-circle-icon>
      <app-circle-icon [fontawesome]="'fa-briefcase'" (click)="toExperiencePage()"></app-circle-icon>
    </div>
    <div class="icons-pair">
      <app-circle-icon [fontawesome]="'fa-bar-chart'"></app-circle-icon>
      <app-circle-icon [fontawesome]="'fa-male'"></app-circle-icon>
    </div>
  </div>
</div>



