<div class="page dashboard">
  <app-subheader [title]="'CV'"></app-subheader>

  <div class="icons-container">
    <div class="icons-pair">
      <app-circle-icon [fontawesome]="'fa-graduation-cap'" (click)="toEducationPage()" class="zoomIn"></app-circle-icon>
      <app-circle-icon [fontawesome]="'fa-briefcase'" (click)="toExperiencePage()" class="zoomIn second"></app-circle-icon>
    </div>
    <div class="icons-pair">
      <app-circle-icon [fontawesome]="'fa-bar-chart'" (click)="toSkillsPage()" class="zoomIn third"></app-circle-icon>
      <app-circle-icon [fontawesome]="'fa-male'" (click)="toPersonalPage()" class="zoomIn fourth"></app-circle-icon>
    </div>
  </div>
</div>



