<div class="basic-template">
  <app-header class="header slideInDown"></app-header>
  <div class="content">
    <div class="static-profile fadeInLeftBig">
        <div class="curtain">
          <div class="about-me">
            <div class="profile-container">
              <div class="external-frame">
                <div class="frame">
                  <div class="avatar-container">
                    <img class="avatar" src="/assets/img/avatar-circle.png"/>
                  </div>
                </div>
              </div>
              <div class="title">
                <span><strong>INŻ. JAROSŁAW KRÓL</strong></span>
              </div>
              <div class="position">
                <span>Full Stack Developer</span>
              </div>
            </div>

            <div class="more-info">
              <div class="info-tag" mdTooltip="Data urodzenia" [mdTooltipPosition]="'left'">
                <div class="key"><i class="fa fa-calendar"></i></div>
                <div class="value">21 stycznia 1992</div>
              </div>

              <div class="info-tag" mdTooltip="Adres" [mdTooltipPosition]="'left'">
                <div class="key"><i class="fa fa-home"></i></div>
                <div class="value">ul. Zbulitowska 7</div>
              </div>

              <div class="info-tag" mdTooltip="Adres" [mdTooltipPosition]="'left'">
                <div class="key"><i class="fa fa-home"></i></div>
                <div class="value">Radzyń Podlaski, 21-300</div>
              </div>

              <div class="info-tag" mdTooltip="Telefon" [mdTooltipPosition]="'left'">
                <div class="key"><i class="fa fa-phone"></i></div>
                <div class="value"><a href="tel:+48516768983" alt="sito dell'Istituto Ancel Keys" >+48 516 768 983</a></div>
              </div>

              <div class="info-tag" mdTooltip="Adres e-mail" [mdTooltipPosition]="'left'">
                <div class="key"><i class="fa fa-at"></i></div>
                <div class="value"><a href="mailto:jaroslawkrol11@gmail.com?subject=CV REPLY:&body=Treść wiadomości">jaroslawkrol11@gmail.com</a></div>
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="main-content">
      <div class="navigation">
        <app-navigation></app-navigation>
      </div>
      <div class="router fadeInRightBig">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer class="footer slideInUp"></app-footer>
</div>
<app-about-me *ngIf="isProfileVisible$ | async"></app-about-me>
