.basic-template {
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1001;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.content {
  position: absolute;
  top: 56px;
  bottom: 100px;
  width: 100vw;
  height: auto;
}
