.eefil {
  display: none;
}

.basic-template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1001;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.content {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 64px;
  bottom: 100px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}

@media only screen  and (min-width : 1200px) and (max-width : 1823px) {
  .content {
    height: calc(100vh - 64px - 72px);
  }
}

.static-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 38%;
  border-right: solid 2px lightgray;
}

.static-profile:hover {
  border-color: gray;
}

.curtain {
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.navigation {
  flex-basis: 38%;
}

@media only screen and (max-width: 1199px) {
  .navigation {
    display: none;
  }
}

.router {
  flex: 1;
}

@media only screen and (min-width: 1200px) {
  .router {
    border-left: solid 2px lightgray;
  }

  .router:hover {
    border-color: gray;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRightBig {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInRightBig {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}

.router-container {
  flex: 1;
  overflow-y: auto;
}

@media only screen and (max-width: 1200px) {

}

/*about me*/
@media only screen and (min-width: 768px) {

  .content {
    top: 64px;
  }

  .profile-container {
    font-family: Roboto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .frame {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  .external-frame {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    border: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-container {
    width: 180px;
    height: 180px;
  }

  .avatar {
    max-width: 100%;
    max-height: 100%;
  }

  .profile-container > .title {
    margin-top: 10px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .more-info {
    align-self: center;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  @media only screen  and (min-width : 1200px) and (max-width : 1823px) {
    .more-info {
      font-size: 0.8em;
      font-weight: 600;
    }
  }

  .info-tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-family: Roboto;
    max-width: 300px;
  }

  .info-tag > .key {
    background: #0d47a1;
    color: white;
    padding: 0.5rem;
    min-width: 1.25rem;
    /*border: solid 1px #0d47a1;*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .info-tag > .key > i {
    padding: 0 3px;
  }

  .info-tag > .value {
    background: whitesmoke;
    color: #0d47a1;
    padding: 0.5rem;
    width: 100%;
    /*border: solid 1px #0d47a1;*/
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .info-tag > .value > a {
    color: #0d47a1;
  }
}

@media only screen and (max-width: 767px) {
  .static-profile {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
  .content {
    flex-direction: column;
  }

  .static-profile {
    border-right: none;
    border-bottom: solid 2px gray;
  }

  .about-me {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .content {
    top: 56px !important;
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1199px) and (orientation: landscape) {
  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  ×

  @-webkit-keyframes fadeInLeftBig {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeftBig {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  ×

  @-webkit-keyframes fadeInLeftBig {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeftBig {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}
